div.col-4 > mat-icon {
    font-size: 32px;
    display: block;
    margin: auto;
}

.active {
    /* border-bottom: 1px solid var(--movie-red); */
    color: #e83e8c;
}
nav {
    width: 100vw;
    text-align: center;
    padding-bottom: 8px;
    background-color: var(--movie-dark);
}