<div class="tvSeances__content" *ngIf="!isLoading && tvSeances?.length > 0">
  <mat-grid-list cols="1" rowHeight="78px" class="">
    <mat-grid-tile *ngFor="let seance of tvSeances" class="tvSeances__seanceRow">
      <mat-grid-list cols="3" rowHeight="70px" class="tvSeances__seanceTile mt-2 mb-2">
        <mat-grid-tile><img [src]="seance.logo" /></mat-grid-tile>
        <mat-grid-tile
          ><p>{{ seance.date | date:'EEE, dd-LL' }}</p></mat-grid-tile
        >
        <mat-grid-tile
          ><p>{{ seance.seances[0].time }}</p></mat-grid-tile
        >
      </mat-grid-list>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="tvSeances__content" *ngIf="isLoading">
  <mat-progress-bar mode="indeterminate" [color]="'accent'"></mat-progress-bar>
</div>
<div class="tvSeances__content" *ngIf="!isLoading && !tvSeances">
  <p class="text-center">Niedostępny w TV w najbliższym czasie</p>
</div>
