div.row {
    margin: 0px;
  }
  
  .col-12 {
      padding: 0;
  }
  
  div.col-12 > img {
    height: 200px;
    width: 140px;
    margin-right: 6px;
    margin-bottom: 4px;
  }
  
  p.title {
    font-size: 16px;
  }
  
  .rating-icon {
    font-size: 18px;
  }
  
  .rating-icon span {
    font-size: 18px;
    color: var(--movie-red);
  }

  mat-expansion-panel-header {
    padding: 0 0.5rem
  }
  
  mat-panel-title {
    flex-basis: 50%;
    align-items: center;
  }

  mat-panel-description {
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0;
  }
  
  mat-icon {
    margin-right: 5px;
    color: var(--movie-red);
  }
  