<mat-expansion-panel hideToggle class="m-3">
  <mat-expansion-panel-header>
    <mat-panel-title
      >{{ filmData?.title }}</mat-panel-title
    >
    <mat-panel-description>
      <span>{{ filmData?.time }}</span>
      <span style="font-size: 0.7rem">{{
        filmData?.channel
      }}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="row">
    <div class="col-12">
      <mat-icon>star_rate</mat-icon
      ><span style="vertical-align: super">{{
        filmData?.rating | number: "1.1-1"
      }}</span>
      <mat-icon [routerLink]="'/detailView/' + filmData?.id">navigate_next</mat-icon>
      <p>{{ filmData?.genre }}</p>
      <p>{{ filmData?.plot }}</p>
    </div>
  </div>
</mat-expansion-panel>
