<div class="app-content">
  <div class="top-bar">
    <app-top-title-panel>Odkrywaj</app-top-title-panel>
    <span *ngIf="rla3.isActive" routerLink="/movies/eveningSeances"
      >Dziś wieczorem <mat-icon>navigate_next</mat-icon></span
    >
    <span *ngIf="!rla1.isActive && !rla2.isActive && !rla3.isActive" routerLink="/movies/tv"
    >Dziś top <mat-icon>navigate_next</mat-icon></span
  >
  </div>

  <div class="component-content">
    <nav mat-tab-nav-bar mat-align-tabs="center" mat-stretch-tabs>
      <a
        mat-tab-link
        routerLink="/movies/recommended"
        [active]="rla1.isActive"
        routerLinkActive
        #rla1="routerLinkActive"
        >Polecane</a
      >
      <a
        mat-tab-link
        routerLink="/movies/top"
        [active]="rla2.isActive"
        routerLinkActive
        #rla2="routerLinkActive"
        >Top</a
      >
      <a
        mat-tab-link
        routerLink="/movies/tv"
        [active]="!rla2.isActive && !rla1.isActive"
        routerLinkActive
        #rla3="routerLinkActive"
        >Tv</a
      >
    </nav>
    <div class="router-outlet">
      <router-outlet></router-outlet>
    </div>
  </div>

  <div class="bottom-bar">
    <app-bottom-tabs-menu></app-bottom-tabs-menu>
  </div>
</div>
