<!-- <div class="row w-100"> -->
  <nav mat-tab-nav-bar>
    <div class="col-4" mat-tab-link routerLink="/movies" routerLinkActive="active">
      <mat-icon>remove_red_eye</mat-icon>
      <!-- <span>Movies</span> -->
    </div>
    <div class="col-4" mat-tab-link routerLink="/search" routerLinkActive="active">
      <mat-icon>search</mat-icon>
      <!-- <span>Search</span> -->
    </div>
    <div class="col-4" mat-tab-link routerLink="/profile" routerLinkActive="active">
      <mat-icon>person_pin</mat-icon>
      <!-- <span>Profile</span> -->
    </div>
  </nav>
<!-- </div> -->
