div.row {
    text-align: center;
    margin: 0px;
    position: fixed;
    bottom: 0px;
    left: 0;
    padding: 12px 12px 6px 12px;
    background-color: var(--movie-dark);
}

div.col-4 > img {
    width: 32px;
    height: 25px;
    display: block;
    margin: auto;
    margin-top: -5px;
}

div.col-4 > span {
    font-size: 10px;
}

.active {
    border-bottom: 1px solid var(--movie-red);
}