<div class="row w-100">
  <div class="col-4" routerLink="/movies" routerLinkActive="active">
    <img src="../../../../assets/icons/movies.svg" alt="" /> <span>Movies</span>
  </div>
  <div class="col-4" routerLink="/search" routerLinkActive="active">
    <img src="../../../../assets/icons/search.svg" alt="" /> <span>Search</span>
  </div>
  <div class="col-4" routerLink="/profile" routerLinkActive="active">
    <img src="../../../../assets/icons/profile.svg" alt="" />
    <span>Profile</span>
  </div>
</div>
