<div class="app-content">
  <div class="top-bar">
    <app-top-bar
      [title]="title"
      showUserPicture="true"
      (userImageClicked)="userImageClicked()"
    ></app-top-bar>
  </div>

  <div class="component-content d-flex flex-column">
    <nav mat-tab-nav-bar mat-align-tabs="center" mat-stretch-tabs>
      <a
        mat-tab-link
        routerLink="/profile/watchlist"
        [active]="rla1.isActive"
        routerLinkActive
        #rla1="routerLinkActive"
        >Do obejrzenia</a
      >
      <a
        mat-tab-link
        routerLink="/profile/seen"
        [active]="rla2.isActive"
        routerLinkActive
        #rla2="routerLinkActive"
        >Obejrzane</a
      >
    </nav>
    <div class="d-flex flex-column overflow-auto">
      <router-outlet></router-outlet>
    </div>
    
  </div>

  <div class="bottom-bar">
    <app-bottom-bar></app-bottom-bar>
  </div>
</div>
