div.row {
    margin: 10px 15px;
}

div.col-6 > img {
    height: 200px;
    width: 140px;
}

p.title {
    font-size: 16px;
}

.rating-icon {
    font-size: 18px;
}

.rating-icon span {
    font-size: 18px;
    color: var(--movie-red);
}