<cdk-virtual-scroll-viewport
  [itemSize]="size == 'col-12' ? 275 : 138"
  (scrolledIndexChange)="indexChanged($event)"
  class="movieMiniatureList__viewport"
>
  <div
    class="miniatureList__filmElement animate__animated"
    *cdkVirtualFor="let film of filmData | filter: filter: isIgnore; let even = even"
    [ngClass]="{ 'miniatureList__filmElement__small': size !== 'col-12', 'animate__backInRight': !even, 'animate__backInLeft': even }"
    [appMiniatureListContextMenu]="film"
    (click)="navigateTo(film.id, film.title, film.year)"
  
  >
    <div
      class="filmElement__film-poster"
      [ngClass]="{ 'filmElement__film-poster__small': size !== 'col-12' }"
    >
      <img [src]="film.poster ? film.poster : noImageUrl" />
      <span class="filmPoster__rating" *ngIf="film.rating"
        ><mat-icon>star_rate</mat-icon>{{ film.rating | number: "1.1-1" }}</span
      >
    </div>
    <div class="filmElement__film-info" *ngIf="size == 'col-12'">
      <p class="filmInfo__title">{{ film.title }} ({{ film.year }})</p>
      <p *ngIf="film.time">{{ film.time }}</p>
      <p>{{ film.plot }}</p>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
