img {
  height: 100%;
  width: 100%;
  margin-right: 6px;
  margin-bottom: 4px;
  max-width: 40vw;
}
mat-card {
    background-color: inherit;
    border: none;
    box-shadow: none !important;
    padding: 1rem 0;
}

mat-card-content {
  display: flex;
}

.row  {
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.rating-icon {
  font-size: 18px;
}

mat-icon {
  margin-right: 5px;
  color: var(--movie-red);
}

.col-12 {
  padding-left: .5rem;
  padding-right: .5rem;
}

.additional-info {
  padding: 0 .5rem 0 .5rem;
}