button {
    width: 2rem;
    height: 2rem;
}

p {
    font-size: .9rem;
}

mat-icon {
    color: #e4a424 !important;
}

mat-dialog-content {
    max-height: 75vh;
    overflow-y: hidden;
}

::ng-deep .mat-dialog-container {
    background-color: var(--movie-dark);
}

mat-dialog-actions > button {
    width: 45%;
}