<h3 mat-dialog-title class="text-center">Oceń ten film!</h3>
<mat-dialog-content>
  <div class="col-12 text-center">
    <button
      mat-icon-button
      color="primary"
      *ngFor="let ratingId of ratingArr; index as i"
      [id]="'star_' + i"
      (click)="onClick(i + 1)"
      matTooltipPosition="above"
    >
      <mat-icon>
        {{ showIcon(i) }}
      </mat-icon>
    </button>
  </div>
  <p class="mt-5 text-center">Twoja ocena: {{ rating }}/10</p>
</mat-dialog-content>
<mat-dialog-actions class="mt-4 mb-4 justify-content-center">
    <button
      class="text-center"
      mat-raised-button
      color = "primary"
      (click)="onSaveRating()"
      [disabled]="!data.myRating"
    >
      Zapisz ocenę
    </button>
    <button mat-raised-button *ngIf="data.seen" (click)="onDelete()">Usuń z listy</button>
</mat-dialog-actions>
