<div class="app-content">
  <div class="top-bar">
    <app-top-bar [title]="title"></app-top-bar>
  </div>

  <div class="component-content">
    <form class="form-inline" (keyup.enter)="onKeydown(f)" #f="ngForm">
      <div class="input-group mb-2 mr-sm-2">
        <input
          type="text"
          class="form-control"
          id="searchMovie"
          name="serachMovie"
          placeholder="Wpisz tytuł filmu"
          required
          minlength="3"
          ngModel
        />
      </div>
    </form>

    <div class="serach-result h-100" *ngIf="!isLoading">
      <div class="container h-100">
        <div
          class="row flex-column ml-2 mr-2"
          *ngIf="lastResult && searchResult.length === 0"
        >
          <p class="last-result-title">
            {{
              lastResult.length > 0
                ? "Ostatnie wyniki"
                : "Brak ostatnich wyników"
            }}
          </p>
          <div class="last-result-img">
            <img
              [src]="result.poster"
              *ngFor="let result of lastResult"
              [routerLink]="'/detailView/' + result.id"
            />
          </div>
        </div>
        <div appTopBarElementContent *ngIf="!isLoading">
          <app-movie-miniatures-list
            [filmData]="searchResult"
          ></app-movie-miniatures-list>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-bar">
    <app-bottom-bar></app-bottom-bar>
  </div>
</div>

<app-loading-spinner *ngIf="isLoading"> </app-loading-spinner>
